@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
  /*.dark {
    --background: 229 41% 4%;
    --foreground: 229 23% 99%;
    --muted: 229 12% 14%;
    --muted-foreground: 229 10% 63%;
    --popover: 229 41% 5%;
    --popover-foreground: 0 0% 100%;
    --card: 229 41% 5%;
    --card-foreground: 0 0% 100%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 229 100% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 229 14% 8%;
    --secondary-foreground: 229 14% 68%;
    --accent: 229 23% 17%;
    --accent-foreground: 229 23% 77%;
    --destructive: 3 89% 54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 229 100% 62%;
  }
  /* .dark {
    --background: 220 23% 5%;
    --foreground: 210 25% 95%;
    --muted: 220 12% 15%;
    --muted-foreground: 220 12% 65%;
    --popover: 220 23% 2%;
    --popover-foreground: 0 0% 100%;
    --card: 220 23% 3%;
    --card-foreground: 0 0% 100%;
    --border: 220 13% 10%;
    --input: 220 13% 13%;
    --primary: 210 25% 95%;
    --primary-foreground: 210 25% 35%;
    --secondary: 210 15% 25%;
    --secondary-foreground: 210 15% 85%;
    --accent: 220 23% 20%;
    --accent-foreground: 220 23% 80%;
    --destructive: 2 81% 55%;
    --destructive-foreground: 0 0% 100%;
    --ring: 210 25% 95%;
  } */
}

/* @layer base {
  :root {
    --background: 233 64% 98%;
    --foreground: 233 67% 0%;
    --muted: 233 19% 92%;
    --muted-foreground: 233 7% 32%;
    --popover: 233 64% 97%;
    --popover-foreground: 0 0% 0%;
    --card: 233 64% 97%;
    --card-foreground: 0 0% 0%;
    --border: 233 4% 88%;
    --input: 233 4% 88%;
    --primary: 233 42% 36%;
    --primary-foreground: 233 42% 96%;
    --secondary: 233 13% 81%;
    --secondary-foreground: 233 13% 21%;
    --accent: 233 23% 73%;
    --accent-foreground: 233 23% 13%;
    --destructive: 6 86% 35%;
    --destructive-foreground: 6 86% 95%;
    --ring: 233 42% 36%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 233 57% 4%;
    --foreground: 233 12% 100%;
    --muted: 233 19% 8%;
    --muted-foreground: 233 7% 68%;
    --popover: 233 57% 5%;
    --popover-foreground: 0 0% 100%;
    --card: 233 57% 5%;
    --card-foreground: 0 0% 100%;
    --border: 233 4% 11%;
    --input: 233 4% 11%;
    --primary: 233 42% 36%;
    --primary-foreground: 233 42% 96%;
    --secondary: 233 2% 12%;
    --secondary-foreground: 233 2% 72%;
    --accent: 233 12% 18%;
    --accent-foreground: 233 12% 78%;
    --destructive: 6 86% 53%;
    --destructive-foreground: 0 0% 100%;
    --ring: 233 42% 36%;
  }
} */

/* @layer base {
  :root {
    --background: 220 44% 100%;
    --foreground: 220 67% 0%;
    --muted: 220 39% 92%;
    --muted-foreground: 220 13% 27%;
    --popover: 220 44% 100%;
    --popover-foreground: 220 67% 0%;
    --card: 0 0% 99%;
    --card-foreground: 0 0% 0%;
    --border: 220 2% 93%;
    --input: 220 2% 93%;
    --primary: 220 66% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 7% 91%;
    --secondary-foreground: 220 7% 31%;
    --accent: 220 13% 82%;
    --accent-foreground: 220 13% 22%;
    --destructive: 0 86% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 220 66% 58%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 43% 4%;
    --foreground: 220 16% 99%;
    --muted: 220 39% 8%;
    --muted-foreground: 220 13% 73%;
    --popover: 220 43% 4%;
    --popover-foreground: 220 16% 99%;
    --card: 220 43% 5%;
    --card-foreground: 0 0% 100%;
    --border: 220 2% 13%;
    --input: 220 2% 13%;
    --primary: 220 66% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 7% 9%;
    --secondary-foreground: 220 7% 69%;
    --accent: 220 13% 16%;
    --accent-foreground: 220 13% 76%;
    --destructive: 0 86% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 220 66% 58%;
  }
} */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.ql-container {
  font-size: 16px !important;
}
